@import '~/assets/colors.scss';
@import '~/assets/fonts.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: 'Config', system;
	background-color: $bg;
	color: $text;
}
